.header {
    display: center;
    text-align: center;
    background-color: white;
    margin-top: none;
    font-size: large;
}
.box{
    display:block;
    text-align: center;
    margin-left:38%;
    margin-right:38%;
}
.box2{
    display:center;
    margin:none;
    padding-bottom: 2%;
    text-align: left;
    padding-left: 3%;
}
#container{
    display:block;
    flex-direction: column;
    background-color: white;
}
img {
    position:center;
    width:100%;
}
.column {
    float: left;
    width: 50%;
    margin:none;
    text-align:left;
    font-weight:bold;
    padding-left:3%;
    padding-top:4%;
    padding-bottom: 4%;
  }
  .column2 {
    float:right;
    width:50%;
    font-size: xx-small;
    text-align: right;
    color: gray;
    font-size: 10px;
    padding-right:3%;
    padding-bottom:4%;
    padding-top:4%;
  }
 p{
    display:fixed;
 }
  div {
    padding-left:none;
    padding-right:none;
    box-sizing:border-box;
  }
 body{
    background-color: gainsboro;
    font-family:Arial, Helvetica, sans-serif;
    font-size: small;
 }